<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MovieRank <%= data.name %></title>

  
  <!-- Bootstrap core CSS -->
  <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="stylesheets/blog-post.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">MovieRank</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <% if (data.user != 0) { %>
          <li class="nav-item active">
            <a class="nav-link" href="/profile">Profile
              <span class="sr-only">(current)</span>
            </a>
          </li>
          
          
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            <% } else { %>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
            <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row mt-5">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4"><%= data.name %></h1>

        <!-- Author -->
        <p class="lead">Avg. User Rating: <%= data.rating %></p>


        <hr>

        <!-- Date/Time -->
        <p>Released: <%= data.release_date %></p>
        <p>Rated: <%= data.mpaa_rating %></p>

        <hr>

        <!-- Preview Image -->
        <img src="<%= data.poster %>" alt="">

        <hr>

        <!-- Post Content -->
        <h5>Description</h5>
        <p class="lead"><%= data.description %></p>
        <h5>Actors</h5>
        <p><%= data.actor %></p>
        <h5>Director</h5>
        <p><%= data.director %></p>
        <h5>Runtime</h5>
        <p><%= data.runtime %></p>

        <hr>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <form action='/search' method='POST'>
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" name='movieTitle' placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>
        </form>
        <% if (data.user != 0) { %>
        <form action='/rating' method='POST'>
          <div class="card my-4">
            <h5 class="card-header">Rate <%= data.name %></h5>
            <div class="card-body">
              <div class="input-group">
                <input type="number" class="form-control" name='rating' placeholder="Enter Rating 1-10" min='1' max='10'>
                <input type="hidden" name='userId' value='<%= data.user.user_id %>'>
                <input type="hidden" name='mid' value='<%= data.mid %>'>
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="submit">Rate!</button>
                </span>
              </div>
            </div>
          </div>
          
        </form>
        <% } %>
        <% if(messages.length > 0){ %>
          <div class="alert alert-danger" role="alert">
            <%=messages%>
          </div>
        <% } %>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  <br>
  <br>
  <br>
  <br>
  <br>

  <!-- Footer -->
  <footer class="py-4 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; MovieRank 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
  <script src="https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
